<!DOCTYPE html>
<html lang="en">

<head>
    {% if site.ga4 != null %}
    {% include ga4.html %}
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.tagline }} - {{ site.name }}</title>
    <link rel="shortcut icon" href="{{ site.favicon.path }}" type="image/{{ site.favicon.type }}">
    <link rel="stylesheet" href="assets/style.css">
    <script src="https://code.iconify.design/2/2.0.0/iconify.min.js"></script>
    <script src="https://cfgrcr1.com/popin/latest/popin-min.js"></script>
    <script type="text/javascript" src="//static.scptpz.com/mnpw3.js"></script>
    <script src="https://cfgrcr1.com/popin/latest/popin-min.js"></script>
   
    <!--<script>
    var URLlist = [
    "",
    "http://AnyURLorAffiliateLinkHere.com/example2",
    "http://AnyURLorAffiliateLinkHere.com/example3",
    "http://AnyURLorAffiliateLinkHere.com/example4" // <-- the last URL has no comma
    ];
    var reDelay = 5000; // <-- time in seconds. 0000 = immediate redirect (0 seconds), 1000 = 1 sec delay, 2000 = 2 sec delay, etc
    setTimeout(function(){window.location = URLlist[Math.floor(Math.random() * URLlist.length)];}, reDelay);
    </script>-->
    <meta name="description" content="{{ site.description }}">
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:locale" content="{{ site.locale }}" />
    <meta property="og:image" content="{{ site.url }}/{{ site.image.path }}" />
    <meta property="og:image:type" content="image/{{ site.image.type }}" />
    <meta property="og:image:width" content="{{ site.image.width }}">
    <meta property="og:image:height" content="{{ site.image.height }}">
    <meta property="og:image:alt" content="{{ site.image.alt }}">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.twitter.username }}" />
    <meta name="twitter:title" content="{{ site.name }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="twitter:image" content="{{ site.url }}/{{ site.image.path }}" />
</head>

<body>
    <div class="container is-full-screen">
        <header>
            <div class="top is-center is-vertical-align">
                <img class="is-rounded" width="75px" height="75px" src="{{ site.logo }}" alt="logo">
                <h1 class="text-center">{{ site.name }}{% if site.badge.enable == true %}<span class="iconify-inline badge"
                        data-icon="{{ site.badge.icon }}" style="color: {{ site.badge.color }}"></span>{% endif %}</h1>
                <p class="text-center">{{ site.description }}</p>
            </div>
        </header>

        <!-- Dark / Light Mode Switch -->
        {% include theme-switch.html %}

        <!-- Social Media Links -->
     

        <div class="iframe-ph" style= "text-align:center"> 
            <iframe src="https://www.pornhub.com/embed/ph60a1b79a3784d" frameborder="0" width="560" height="340" scrolling="no" allowfullscreen></iframe>
        </div>
        <!-- Insta/TikTok/YouTube Link-in-bio -->
        

        <!-- Link Buttons -->

        {% include bio.html %}
        <div syle = "text-align:center">
        <iframe style="background-color: white;" width="900" height="250" scrolling="no" frameborder="0" allowtransparency="true" marginheight="100" marginwidth="0" name="spot_id_10001820" src="//a.adtng.com/get/10001820?ata=skullkid20"></iframe>
        </div>

        {% include footer.html %}
    </div>
    <script src="assets/script.js"></script>
</body>

</html>
