<!DOCTYPE html>
<html lang="en">

<head>
    {% if site.ga4 != null %}
    {% include ga4.html %}
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.tagline }} - {{ site.name }}</title>
    <link rel="shortcut icon" href="{{ site.favicon.path }}" type="image/{{ site.favicon.type }}">
    <link rel="stylesheet" href="assets/style.css">
    <script src="https://code.iconify.design/2/2.0.0/iconify.min.js"></script>

   
    <!--<script>
    var URLlist = [
    "",
    "http://AnyURLorAffiliateLinkHere.com/example2",
    "http://AnyURLorAffiliateLinkHere.com/example3",
    "http://AnyURLorAffiliateLinkHere.com/example4" // <-- the last URL has no comma
    ];
    var reDelay = 5000; // <-- time in seconds. 0000 = immediate redirect (0 seconds), 1000 = 1 sec delay, 2000 = 2 sec delay, etc
    setTimeout(function(){window.location = URLlist[Math.floor(Math.random() * URLlist.length)];}, reDelay);
    </script>-->
    <meta name="description" content="{{ site.description }}">
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:locale" content="{{ site.locale }}" />
    <meta property="og:image" content="{{ site.url }}/{{ site.image.path }}" />
    <meta property="og:image:type" content="image/{{ site.image.type }}" />
    <meta property="og:image:width" content="{{ site.image.width }}">
    <meta property="og:image:height" content="{{ site.image.height }}">
    <meta property="og:image:alt" content="{{ site.image.alt }}">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.twitter.username }}" />
    <meta name="twitter:title" content="{{ site.name }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="twitter:image" content="{{ site.url }}/{{ site.image.path }}" />
</head>

<body>
    <div class="container is-full-screen">
        <header>
            <div class="top is-center is-vertical-align">
                <img class="is-rounded" width="75px" height="75px" src="{{ site.logo }}" alt="logo">
                <h1 class="text-center">{{ site.name }}{% if site.badge.enable == true %}<span class="iconify-inline badge"
                        data-icon="{{ site.badge.icon }}" style="color: {{ site.badge.color }}"></span>{% endif %}</h1>
                <p class="text-center">{{ site.description }}</p>
            </div>
        </header>

        <!-- Dark / Light Mode Switch -->
        {% include theme-switch.html %}

        <!-- Social Media Links -->
        {% include social.html %}

        
        
        
        <iframe style="background-color: white;" width="728" height="90" scrolling="no" frameborder="0" allowtransparency="true" marginheight="0" marginwidth="0" name="spot_id_10002481" src="//a.adtng.com/get/10002481?ata=skullkid20"></iframe>


        <script>
             
            // Function to get a specific URL parameter
             
            function getUrlParameter(name) {
                const params = new URLSearchParams(window.location.search);
                return params.get(name);
            }
    
            // Immediately store the parameter in a variable
             
            const param1Value = getUrlParameter('param1');

            // Replace with your AWS Lambda endpoint URL
            const lambdaEndpoint ='https://50ux7tgl7c.execute-api.us-west-1.amazonaws.com/SpaceAPI2/';
           
            
            console.log(param1Value); // Output the value to the console

         
        // Example data to send in the POST request
            const postData = JSON.stringify({"key_vid":"49135931"});
            
            // Make a POST request using fetch
            fetch(lambdaEndpoint, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: postData
            })
            .then(response => response.json())  // Assuming Lambda returns JSON
            .then(data => {
              // Handle the response from Lambda
              console.log('Response from Lambda:', data);
                document.getElementById('toggle-ph').style.display = 'block';
                document.getElementById('test-resp').innerHTML = data.input
            })
            .catch(error => {
              // Handle any errors
              console.error('Error calling Lambda:', error);
            });
            
   
        </script>

        
        <div class="iframe-ph" id="toggle-ph", style= "text-align: center; display= none"> 
                     
        <div id="test-resp"><h2>Enjoy the video.</</h2> </div>
            <iframe src="https://www.pornhub.com/embed/ph5b1161b057066" frameborder="0" width="560" height="340" scrolling="no" allowfullscreen></iframe>
            <iframe src="https://www.pornhub.com/embed/ph5b1161b057066" frameborder="0" width="560" height="340" scrolling="no" allowfullscreen></iframe>
        </div>
        <!-- Insta/TikTok/YouTube Link-in-bio -->
    
        <!-- Link Buttons -->
        {% include links.html %}

        <div style = "text-align:center"><h3>Chat live with real women.</h3></div> 
        <div id="object_container" style="width:80%;height:500px"></div><script src="https://edwmpt.com/embed/lf?c=object_container&site=jasmin&cobrandId=&psid=skullkid45&pstool=202_1&psprogram=revs&campaign_id=&category=hot_flirt&forcedPerformers[]=&vp[showChat]=true&vp[chatAutoHide]=true&vp[showCallToAction]=&vp[showPerformerName]=&vp[showPerformerStatus]=&filters=18-22+white+average-built&ms_notrack=1&subAffId={SUBAFFID}"></script>
        
        <div>
            <h2>Hentai Space</h2> 
        </div>

        
        <div class="banner-af" style= "text-align:center"><iframe style="background-color: white;" width="728" height="90" scrolling="no" frameborder="0" allowfullscreen= "true" marginheight="0" marginwidth="0" name="spot_id_10001811" src="//a.adtng.com/get/10001811?ata=skullkid20"></iframe></div>

        {% include footer.html %}
    </div>
    <script src="assets/script.js"></script>
</body>

</html>
